.awards{
  padding: 64px 0 110px;
  position: relative;
  float: left;
  width: 100%;
  overflow-x: hidden;
}
.awardsContainer{
  max-width: 1368px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}
.awardsInnerContainer{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -24px;
  justify-content: center !important;
}
.awardsHeading{
  text-align: center !important;
  flex: 0 0 auto;
  width: 100%;
  opacity: 0;
  transition: all .8s ease;
  transform: translateY(40px);
}
.awardsHeading h3{
  margin-bottom: 60px;
  font-family: 'Inter',sans-serif;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -.25px;
  font-size: 36px;
}
.awardsCard{
  flex: 0 0 auto;
  width: 25%;
  padding: 0 24px;
  opacity: 0;
  transition: all .8s ease;
  transform: translateY(40px);
}
.awardItem{
  position: relative;
  text-align: center;
  margin-bottom: 57px;
}
.awardImage{
  width: 104px;
  height: 104px;
  margin: 0 auto 25px;
  display: flex;
  align-items: center;
}
.awardImage img{
  max-width: 102px;
  display: block;
  height: auto;
}
.awardItem a{
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  text-decoration: none;
  display: inline;
  background-image: linear-gradient(45deg,#6d6f78 100%,#6d6f78 0%);
  background-position: 10% 22px;
  background-size: 100%;
  transition: all .4s ease;
  background-repeat: no-repeat;
  padding-bottom: 3px;
}
.awardItem:hover a{
  background-image: linear-gradient(45deg,#103af0 100%,#103af0 0);
  background-position: 10% 12px;
}
.awardItem a::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}


.scrollAnimationClassOpacity{
  opacity: 1 !important;
}
.scrollAnimationClassTranslate{
  transform: translateY(0px) !important;
}