@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lobster&display=swap');
.oneImageScroll{
  padding-bottom: 110px;
  float: left;
  width: 100%;
}
.oneImageScrollContainer{
  max-width: var(--section-maxWidth1400);
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}
.oneImageScrollInnerContainer{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -24px;
}
.oneImageImage{
  width: 25%;
  order: 1 !important;
  flex: 0 0 auto;
  padding: 0 24px;
}
.oneImageText{
  order: 2 !important;
  margin-left: -116px;
  flex: 0 0 auto;
  width: 66.66667%;
  padding: 0 24px;
}
.oneImageBold{
  font-size: 54px;
  font-family: 'Inter',sans-serif;
  font-weight: 600;
  line-height: 1.19;
  letter-spacing: -.778846px;
  display: block;
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
}
.inline{
  display: inline;
}
.mainWord{
  font-size: 54px;
  font-family: 'Inter',sans-serif;
  font-weight: 600;
  line-height: 1.19;
  letter-spacing: -.778846px;
}
.oneImageText h3{
  color: #b7b8c0;
  font-family: 'Inter',sans-serif;
  margin: 0;
  font-weight: 400;
  position: relative;
  z-index: -1;
  line-height: 1.33;
  letter-spacing: -.25px;
  font-size: 36px;
}
#oneImageImage{
  position: absolute;
  z-index: 2;
}
.oneImageImage img{
  max-width: 294px;
  display: block;
  height: auto;
}

