:root{
  --section-maxWidth1400 : 1368px;
  --section-maxWidth1200 : 1180px;
  --section-maxWidth992 : 960px;
  --section-maxWidth768 : 720px;
}


@media only screen and (max-width:1200px){
  .oneImageImage img{
    max-width: 220px;
  }
}
@media only screen and (max-width:992px){
  .oneImageImage img{
    margin-top: 85px;
  }
  .oneImageText{
    width: 85%;
    margin-left: -72px;
  }
}
@media only screen and (max-width:768px){
  .oneImageText{
    width: 85%;
    margin-left: -90px;
  }
  .oneImageImage img{
    margin-top: -50px;
  }
  .mainWord{
    font-size: 40px;
    line-height: 46px;
    letter-spacing: -1.25px;
    margin-top: -5px;
  }
  .oneImageText h3{
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1.25px;
  }
  .oneImageBold{
    line-height: 0.8;
  }
}
@media only screen and (max-width:576px){
  
  .oneImageImage img{
    max-width: 156px;
  }
  .oneImageBold{
    line-height: 0.4;
    margin-bottom: 20px;
  }
  .mainWord{
    font-size: 35px;
    line-height: 46px;
    letter-spacing: -1.25px;
    margin-top: -5px;
  }
  .oneImageText h3{
    font-size: 20px;
    line-height: 36px;
    letter-spacing: -1.25px;
  }
}
@media only screen and (max-width:400px){
  .oneImageText h3{
    line-height: 1;
  }
  .oneImageBold{
    line-height: 0.3;
    transform: translateX(50px);
  }
  .mainWord{
    line-height: 30px;
  }
}
@media only screen and (min-width:768px){
  .oneImageScrollContainer{
    max-width: var(--section-maxWidth768);
  }

}
@media only screen and (min-width:992px){
  .oneImageScrollContainer{
    max-width: var(--section-maxWidth992);
  }
}
@media only screen and (min-width:1200px){
  .oneImageScrollContainer{
    max-width: var(--section-maxWidth1200);
  }
}
@media only screen and (min-width:1400px){
  .oneImageScrollContainer{
    max-width: var(--section-maxWidth1400);
  }
}
