:root{
  --navbar-maxWidth1400 : 1368px;
  --navbar-maxWidth1200 : 1180px;
  --navbar-maxWidth992 : 960px;
  --svg-maxWidth768 : 720px;
  --svg-maxWidth576 : 540px;
}












@media only screen and (min-width:300px){
  .h2Heading h2{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 1.133;
    letter-spacing: -1.25px;
    font-size: calc(40px + 36 * ( ( 100vw - 375px ) / 1065 ));
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s ease;
  }
}
@media only screen and (max-width:380px){
  .h2Heading h2{
    font-size: 25px !important;
    line-height: 25px;
    letter-spacing: -1.25px;
    margin-top: -5px;
  }
}
@media only screen and (max-width:576px){
  .heroHeading{
    padding: 0 22px;
  }
  .h1Heading {
    width: 100%;
  }
  #h2Heading{
    text-align: center;
  }
  .h2Heading h2{
    font-size: 30px !important;
    line-height: 46px;
    letter-spacing: -1.25px;
    margin-top: -5px;
  }
}

@media only screen and (min-width:576px){
  .heroHeading{
    max-width: var(--svg-maxWidth576);
  }
  .h1Heading {
    width: 100%;
  }
}

@media only screen and (min-width:768px){
  .heroHeading{
    max-width: var(--svg-maxWidth768);
  }
  .h1Heading {
    width: 100%;
  }
}
@media only screen and (max-width:768px){
  .h2Heading h2{
    font-size: 40px;
    line-height: 46px;
    letter-spacing: -1.25px;
    margin-top: -5px;
  }
}

@media only screen and (min-width:992px){
  .navContainer{
    max-width: var(--navbar-maxWidth992);
  }
  .heroHeading{
    max-width: var(--navbar-maxWidth992);
    width: 100%;
  }
  .h1Heading{
    width: 100%;
  }
}
@media only screen and (max-width:1000px){
  header{
    height: 60px;
  }
  .logoIcon{
    width: 73px;
  }
  .hamburgerIcon{
    display: block;
  }
  .innerNavContainer{
    display: none;
  }
  

}
@media only screen and (min-width:1200px){
  .navContainer{
    max-width: var(--navbar-maxWidth1200);
  }
  .h1Heading{
    width: 100%;
  }
  .heroHeading{
    max-width: var(--navbar-maxWidth1200);
  }
}
@media only screen and (min-width:1400px){
  .navContainer{
    max-width: var(--navbar-maxWidth1400);
  }
  .heroHeading{
    max-width: var(--navbar-maxWidth1400);
  }
  .h1Heading{
    width: 75% !important;
  }
}



