@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lobster&display=swap');
.twoImageScroll{
  padding: 110px 0;
  float: left;
  width: 100%;
}
.twoImageScrollContainer{
  max-width: 1368px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}
.twoImageScrollInnerContainer{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -24px;
}
.twoImageImageOne{
  padding: 0 24px 3rem 24px;
  order: 1 !important;
  display: flex !important;
  align-items: flex-end !important;
  flex: 0 0 auto;
  width: 25%;
}
.twoImageImageOne img{
  max-width: 294px;
  display: block;
  position: relative;
  z-index: 0;
  height: auto;
}
.twoImageText{
  flex: 0 0 auto;
  width: 50%;
  order: 2 !important;
  padding: 0 24px;
}
.twoImageTextInner{
  width: 864px;
  margin-left: -114px;
}
.twoImageTextInner h2{
  color: #6d6f78;
  font-size: 54px;
  font-family: 'Inter',sans-serif;
  font-weight: 600;
  line-height: 1.19;
  letter-spacing: -.778846px;
}
.twoImageTextInner h2 a{
  color: #fff;
  margin: 0 !important;
  text-decoration: none;
  display: inline;
  background-image: linear-gradient(45deg,#6d6f78 100%,#6d6f78 0);
  background-position: 10% 65px;
  background-size: 100%;
  transition: all .4s ease;
  background-repeat: no-repeat;
  padding-bottom: 2px;
  position: relative;
  z-index: 2;
}
.twoImageTextInner h2 a:hover{
  background-image: linear-gradient(45deg,#103af0 100%,#103af0 0);
  background-position: 10% 45px;
}
.twoImageImageTwo{
  order: 3 !important;
  flex: 0 0 auto;
  width: 25%;
  padding: 0 24px;
}
.twoImageImageTwo img{
  max-width: 294px;
  display: block;
  position: relative;
  z-index: 0;
  height: auto;
}

